<div class="flowline-overview-tooltip-block">
  Line must meet all of the below criteria per COGCC’s <span>1105.c.(1) Abandonment in place</span> regulations:
  <ul>
    <li>Flowline will be purged of any liquids,  and</li>
    <li>Depleted to atmospheric pressure, and</li>
    <li>Risers cut to 3’ below grade or to the depth of the flowline (whichever is shallower), and</li>
    <li>Ends of the flowline are sealed below grade, and</li>
    <li>Above ground cathodic protection and equipment associated with the riser are removed</li>
  </ul>
</div>
